.external
{
	background-color: pink;
	border: 2px solid black;
	padding-bottom: 80px;
	padding-top: 80px;
	padding-right: 180px;
	padding-left: 180px;
	margin-right: 40px;
	margin-left: 40px;
}